<section id="modal">
    <article>
      <span class="hide-modal">X</span>
      
      <form id="edit-card-form">
        <input 
          type="text"
          name="title"
          value="<%= card.get("title") %>">
      </form>
    </article>
    
</section>