<section id="modal">
    <article>
      
      <span class="hide-modal"></span>
      <form id="edit-card-title-form" class="hidden">
        <input
           type="text"
           value="<%= card.get("title") %>"
           name="title">
        <input
          type="submit"
          value="Save">
        <span class="cancel-edit-button"></span>
      </form>
        
      <div id="card-title-container">
        <span id="edit-card-title-btn"><%= card.get("title") %></span>
        <span class="in-list-span">in list <span><%= list.get("title") %></span></span>
      </div>
        
      <span id="edit-card-desc-btn">Edit the description...</span>
      <form id="edit-card-desc-form" class="hidden">
        <textarea name="description"><%= card.get("description") %></textarea>
        <input
          type="submit"
          value="Save">
        <span class="cancel-edit-button"></span>
      </form>
      
    </article>
    
</section>