<span class="card-title"><%= card.get("title") %></span>
<span class="icon-container"></span>


<script>
  $(function(){
    $('#cards-ul').sortable({
      // update: function(event, ui){
 //        $(".lists-show-el").each(function(index){
 //          $(this).trigger('drop', index);
 //        })
 //      }
    })
  })
</script>