<h3>Create Board <span id="cancel-create-board"></span></h3>

<form>
  <label for="title">Title</label>
  
  <input
    id="title"
    type="text"
    name="title"
    placeholder="Untitled Board">
    
  <input
    class="create-board-btn"
    type="submit"
    value="Create">
</form>