.boards-show-el{
  min-height: 100%;
  height: 100%;
  width: 100%;
  background: #23719F;
  padding: 10px;
}

#lists-ul{
  @include row;
  @include omega(45n);
  width: 100%;
  height: 92%;
  overflow-x:scroll;
  overflow-y:hidden;
  white-space: nowrap;
  
  > li{
    @include span-columns(1 of 45);
    display: inline-block;
    width: 260px;
    position: relative;
    float: none;
  }
}