.cards-show-el {
  width: 100%;
  display: block;
  margin-bottom: 5px;
  border-radius: 3px;
  padding: 9px 8px;
  background: #fff;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  
  &:hover{
    // should show pencil icon here
    background: #F0F0F0;
  }
}