.lists-show-el{
  height: 100%;
  h3 {
    font-size: 15px;
  }
  
  a {
    position:relative;
    bottom: 0;
    color: #939393;
    font-size: 14px;
    font-weight: normal;

    
    &:hover{
      color: #222222;
      cursor: pointer;
    }
  }
  
  .list-container{
    position: relative;
    border-radius: 5px;
    background: #E3E3E3;
  }
}

.list-title{
  border-radius: 5px;
  padding: 8px;
  float: left;
  width: 100%;
  
  h3{
    width: 80%;
    text-overflow: ellipsis;
    display: inline-block;
  }
  
  #delete-list-btn{
    float: right;
    height: 16px;
    width: 16px;
    background-image: url(image-path('icons/delete.png'));
    background-size: 15px 15px;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}


.add-card-li{
  position: relative;
  padding: 8px;
  height: 32px;
  float: left;
  
  a {
    width: 100%;
    margin-top: 9px;
    position: relative;
    bottom: 0;
  }
}

.cards-list-li{
  padding: 8px;
  float: left;
  width: 100%;
}

#cards-ul > li{
  float: left;
}

.lists-new-el{
  width: 260px;
  height: 100%;
  border-radius: 5px;
  padding: 2px;
  float: none;
  vertical-align:top;

  .add-list-btn{
    //  transparent background
    // get right color text
    //hover
    background: transparent;
    color: #BCD1DD;
    
    &:hover{
      cursor: pointer;
      background: #194F70; 
    }
  }
  
  form {
    display: none;
    
    input[type="text"]{
      background: #D2D2D3;
      font-weight: normal;
      width: 100%;
      padding: 8px;
      border-radius: 3px;
      border: 1px solid #C4C5C5;
    }
    
    input[type="submit"]{
      float: left;
      color: #fff;
      padding: 5px 8px;
      background: #1F8E22;
      border-radius: 3px;
    }
  }
}

.lists-new-el.show-form{
  background: #E3E3E3;
  height: 74px;
  
  form{
    display: block;
  }
  
  .add-list-btn{
    display: none;
  }
}

#cancel-add-list{
  color: #A6A6A6;
  font-size: 25px;
  margin-left: 15px ;
  font-weight: normal;
  cursor: pointer;
  float: left;
}