<div class="add-list-btn">Add a list..</div>

<form>
  <input
    type="text"
    name="title"
    placeholder="Add a list...">
  <input type="submit" value="Add">
  <div id="cancel-add-list">X</div>
</form>