<ul class="list-container group">
  <li class="list-title">
    <h3><%= list.get("title") %></h3>
    <span id="delete-list-btn"></span>
  </li>
  <li class="cards-list-li">
    <ul id="cards-ul" list-id="<%= list.id %>" class="cards-ul">
      <li class="sortable-dropzone"></li>
    </ul>
  </li>
  <li class="add-card-li"><a href="#" class="add-card-link">Add a card...</a></li>
</ul>


<script>
  $(function(){
    var oldList, newList;
    
    $('.cards-ul').sortable({
      connectWith: '.cards-ul',
      placeholder: "card-sortable-placeholder",
      forcePlaceholderSize: true,
      start: function(e, ui){
        oldList = $(ui.item).closest(".cards-ul");
        ui.placeholder.height(ui.helper.outerHeight());
      },
      update: function(event, ui){
        newList = $(ui.item).closest(".cards-ul");
        var newListId = newList.attr("list-id");
        var oldListId = oldList.attr("list-id");
        
        if (oldListId != newListId){
          
          var list_id = newList.attr("list-id");
          $(ui.item).trigger('switchList', list_id);
          
          $(oldList).find(".cards-show-el").each(function(index){
            $(this).trigger('drop', index);
          })
          
          $(newList).find(".cards-show-el").each(function(index){
            $(this).trigger('drop', index);
          })
          
        } else {
          $(oldList).find(".cards-show-el").each(function(index){
            $(this).trigger('drop', index);
          })
        }
        
      }
    })
  })
</script>