<ul class="list-container">
  <li class="list-title"><h3><%= list.get("title") %></h3></li>
  <li><ul id="cards-ul"></ul></li>
  <li class="add-card-li"><a href="#" class="add-card-link">Add a card...</a></li>
</ul>