<nav class="navbar">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Trello Clone</a>
  </div>

  <div class="navbar-right">
    <ul>
    <% if signed_in? %>
      <li id='add-dropdown' class='dropdown'>
        <button></button>
      </li>
      <li><%= button_to "Sign out", session_url, method: :delete, class: "sign-out-btn" %></li>
    <% else %>
      <li><%= link_to "Log in", new_session_url %></li>
      <li><%= link_to "Sign up", new_user_url %></li>
    <% end %>
    </ul>
  </div>
</nav>

<% if flash[:errors] %>
<div class="alert">
   <button type="button" class="close">Close</button>
   <%= flash[:errors].join("<br>").html_safe %>
</div>
<% end %>

<script type="text/javascript">
  $(function(){
    
    $('#add-dropdown').on('click', function(event){
      event.stopPropagation();
      $('#add-dropdown').addClass('show-dropdown');
    })

  });

</script>